body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table, thead, th, tbody, td{
  padding: 15px;
  border-collapse: collapse;
  border: 1px solid #000;
}
.app-navigation{
  text-align: center;
}
.form-style{
  height: 30px;
  font-size: 16px;
}
.error-msg{
  color: #ff0000;
}
